@using ElektrikDunyasi.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Makaleler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container ">

    <h1 style="font-family:bold;font-weight:700; text-align:center">Makaleler</h1>
    <a style="margin-bottom:15px" href="/Makaleler/MakaleEkle/" class="btn btn-primary">Yeni Makale Ekle</a>

    <table class="table table-bordered bg-light">
        <tr>
            <th style="font-size:20px; font-weight:bold;">*</th>
            <th>Makale Başlığı</th>
            <th>Keywords</th>
            <th>Yayınlayan</th>
            <th>Makale Resmi</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Güncelle</th>



        </tr>
        @{int i = 1; }
        @foreach (var makale in Model)
        {
            <tr>
                <td style="font-weight:bold;">@i</td>
                <td style="width:35%">@makale.MakaleBaslik </td>
                <td style="width:25%">@makale.Keywords</td>
                <td style="width:12%">@makale.Ekleyen</td>
                <td style="width:13%"><img style="width:60px;height:60px" src="@makale.ImageUrl" alt="@makale.Keywords" /></td>
                <td style="width:10%">@makale.Tarih</td>
                <td>@Html.ActionLink("Sil", "MakaleSil", new { id = makale.MakaleId }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })</td>
                <td style="width:5%"><a href="/Makaleler/MakaleGetir/@makale.MakaleId" class="btn btn-success">Güncelle</a></td>

            </tr>
            i++;
        }


    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

</div>

